# Compiled Object files
*.slo
*.lo
*.o
*.po

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.exe

*.dll
*.7z




*.opensdf
*.suo
*.user




Makefile
Makefile.in
*.m4

config.log
config.status

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

.deps/

tsunami
rttsunami
rttsunamid
tsunamid
fusereadtest
readtest
writetest

